<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="savedCars">Saved Cars</a></li>
    </ul>
    <h1>Second Hand Search</h1>
    <form action="">
        <h3>Login</h3>
        Username:
        <input type="text" name="username">
        <input type="submit" value="submit">
    </form>
</header>