


<header id="header1">
    <ul id="navbar">
        <li><button onclick="displaySearch()">Search</button></li>
        <li><a href="savedCars">My Cars</a></li>
        <li id="image"><a href="/"><img src="../Images/YSOAB.png" alt="SecondHandSearch"></a></li>
        <li><a href="/">About</a></li>
        <li><a href="contact">Contact Us</a></li>
    </ul>
</header>

<header id="header2" style="display: none;">
    <form id="searchForm" action="/" method="POST">
        <fieldset>
            <ul>
                <li><legend>Find your next money pit!</legend></li>
                <li><label>
                    Location:
                    <input type="text" name="location">
                </label></li>
                <li><label>
                    Make:
                    <input type="text" name="make">
                </label></li>
                <li><label>
                    Model:
                    <input type="text" name="model" id="">
                </label></li>
                <li><label>
                    Year:
                    <input type="text" name="year">
                </label></li>
                <li><input type="submit" name="submit" value="SEARCH"></li>
            </ul>
        </fieldset>
    </form>
</header>

<script>
function displaySearch(){
  var searchBar = document.getElementById("header2");

  if (searchBar.style.display === "none") {
    searchBar.style.display = "inline";
  } else {
    searchBar.style.display = "none";
  }
}
</script>
