<header id="header1">
    <ul id="navbar">
        <li><button id="searchButton" onclick="displaySearch()">Search</button></li>
        <li><a href="savedCars">My Cars</a></li>
        <li id="logo"><a href="/"><img src="../Images/YSOAB.png" alt="SecondHandSearch"></a></li>
        <li><a href="aboutus">About</a></li>
        <li><a href="contact">Contact Us</a></li>
    </ul>
</header>

<header id="header2" style="display: none;">
    <form id="searchForm" action="/searchresult" method="POST">
        <fieldset>
            <ul>
                <li>
                    <legend id="moneyPit">Find your next money pit!</legend>
                </li>
                <li><label class="label">
                        Location:
                    </label>
                    <input type="text" name="location">
                </li>
                <li><label class="label">
                        Make:
                    </label>
                    <input type="text" name="make">
                </li>
                <li><label>
                        Model:
                        <input type="text" name="model" id="">
                    </label></li>
                <li><label>
                        Year:
                        <input type="text" name="year">
                    </label></li>
                <input type="hidden" name="userId" value="<%= userId[0].id %>">
                <li><input id="carSearchButton" type="submit" name="submit" value="SEARCH"></li>
            </ul>
        </fieldset>
    </form>
</header>

<div id="wood">
    <img src="../Images/wood.jpg" alt="Wood">
</div>

<script>
    function displaySearch() {
        var searchBar = document.getElementById("header2");

        if (searchBar.style.display === "none") {
            searchBar.style.display = "inline";
        } else {
            searchBar.style.display = "none";
        }
    }
</script>