<main id="header2">
    <form id="searchForm" action="/" method="POST">
        <fieldset>
            <legend>Search Vehicle</legend>
            <label>
                Make:
                <input type="text" name="make">
            </label>
            <label>
                Model:
                <input type="text" name="model" id="">
            </label>
            <label>
                Year:
                <input type="text" name="year">
            </label>
            <label>
                Location:
                <input type="text" name="location">
            </label>
            <input type="submit" name="submit" value="SEARCH">
        </fieldset>
    </form>
</main>