<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Detail</title>
</head>
<body>
    <!-- Shows detail of single car. Here you can click the button to save the car to include in your wish list -->
    <main>
        <h2>title</h2>
        <h3>year</h3>
        <h3>Make</h3>
        <h3>Model</h3>
        <h3>vinnumber</h3>
        <h3><img src="" alt=""></h3>
        <p>description</p>
        <h4>map</h4>
        <button>Save</button>
    </main>
</body>
</html>