<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Result</title>
</head>
<body>
    <!-- Shows list of cars from the search request.
    Includes title, price and image only on this page-->
    <h2>title</h2>
    <h3>price</h3>
    <h4>Image</h4>
    
    <!-- Liked it? Check the details of the car -->
    <a href="detail/:id">
        <button id="index">View Details</button>
    </a>



</body>
</html>