<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/ultimate.css">
    <title>The Team</title>
</head>

<body>
    <!-- Main page/form to search cars and button to view saved cars -->
    <%- include('partials/header') %>

    <div id="aboutUsTitle">
      <h1>Meet The Dev's!</h1>
    </div>

    <div id="theTeam">
      <ul id="theTeamCards">
        <li class="teamDeck">
          <img id="Jitendra" src="../Images/Jay.png" alt="Jitendra">
          <h3 class="name"><a href="https://github.com/JBajracharya">Jitendra Bajracharya</a></h3>
        </li>
        <li class="teamDeck">
          <img id="Phong" src="../Images/Phong.png" alt="Phong">
          <h3 class="name"><a href="https://github.com/phongvdoan">Phong Doan</a></h3>
        </li>
        <li class="teamDeck">
          <img id="Greg" src="../Images/greg.png" alt="Greg">
          <h3 class="name"><a href="https://github.com/gmireles210">Gregory Mireles</a></h3>
        </li>
        <li class="teamDeck">
          <img id="Dayne" src="../Images/Dayne.png" alt="Dayne">
          <h3 class="name"><a href="https://github.com/Gr8-Dayne">Dayne Daylong</a></h3>
        </li>
      </ul>
    </div>

    <footer> &copy;SecondHandSearch Team </footer>
</body>

</html>