<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/ultimate.css">
  <title>Tell Us</title>
</head>

<body>
  <!-- Main page/form to search cars and button to view saved cars -->
  <%- include('partials/header') %>

  <form id="emailTeam" action="mailto:dalexad@gmail.com" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Message:<br>
    <input id="emailMessageBlock" type="text" name="message" size="250"><br><br>
    <input class="contactButtons" type="submit" value="Send It">
    <input class="contactButtons" type="reset" value="Reset">
  </form>

  <footer> &copy;SecondHandSearch Team </footer>
</body>

</html>