<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Search</title>
</head>

<body>
    <!-- Main page/form to search cars and button to view saved cars -->
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="savedCars">
                    <button>Saved Cars</button>
                </a></li>
        </ul>
        <h1>Second Hand Search</h1>
        <form action="">Log in</form>
    </header>

    <main>
        <form id="searchForm" action="/searchResult" method="POST">
            <fieldset>
                <legend>Search Vehicle</legend>
                <label>
                    Make:
                    <input type="text" name="make">
                </label>
                <label>
                    Model:
                    <input type="text" name="model" id="">
                </label>
                <label>
                    Year:
                    <input type="text" name="year">
                </label>
                <label>
                    Location:
                    <input type="text" name="location">
                </label>
                <input type="submit" name="submit" value="SEARCH">
            </fieldset>
        </form>
        <section id="allVehicle">
            <% vehicles.forEach((vehicle, index) => { %>
            <h2><%= vehicle.title %></h2>
            <h3>price</h3>
    
            <!-- Liked it? Check the details of the car -->
            <button id="<%= index %>" class="detailsBtn">>View Details</button>
            <% }) %>
        </section>
    </main>
    <footer> &c Second Hand Search Team</footer>
</body>

</html>