<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/ultimate.css">
    <title>SHS</title>
</head>

<body>
    <!-- Main page/form to search cars and button to view saved cars -->
    <%- include('partials/header') %>
    
    <footer>&copy;SecondHandSearch</footer>
</body>

</html>