<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <!-- Details of one saved car. Button to delete from wish list -->
    <main>
        <h2>title</h2>
        <h3>year</h3>
        <h3>Make</h3>
        <h3>Model</h3>
        <h3>vinnumber</h3>
        <h3><img src="" alt=""></h3>
        <p>description</p>
        <h4>map</h4>
        <form action="/edit/:id?_method=DELETE" method="POST">
            <button class="button inlineBtn">Delete Book</button>
        </form>
    </main>
</body>
</html>