<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wish List</title>
</head>
<body>
    <!-- This page displays just the title, image and price of the saved cars. Button to go to detail where you can view and delete from wish list -->
    <h2>title</h2>
    <h3>price</h3>
    <h4>Image</h4>
    
    <a href="viewEdit/:id">
        <button id="index">View Details</button>
    </a>

</body>
</html>