.title {
    font-size: 1.8em;
    font-weight: bolder;
    height: 80px;
}

.carImages {
    width: 400px;
    height: 350px;
}

.listingPrice, .marketPrice, .remove, .save, .checkbox{
    font-size: 1.3em;
    margin: 2%;
}

.remove, .save {
    background-color: black;
    color: white;
}

.teamDeck {
    margin: 0.5%;
    display: inline-block;
}

.name {
    font-size: 2em;
}

.teamDeck img {
    width: 80%;
}

#navbar li {
    font-size: 1em;
}

.saveButton{
    background-color: rgb(0, 0, 0);
    color: red;
}

#searchButton{
    background-color: rgba(0, 0, 0, 0.747);
    color: hotpink;
    height: 4vh;
}

#moneyPit{
  text-decoration: underline;
  text-shadow: 1px 1px rgba(56, 56, 56, 0.685);
}

#carSearchButton{
  background-color: rgba(0, 0, 0, 0.747);
  color: hotpink;
}

.contactButtons{
    background-color: rgb(0, 0, 0);
    color: yellow;
}

#hooner {
    position: relative;
    text-align: center;
    color: white;
}

#hoonicorn{
    width: 78%;
}

#missionStatement{
    position: absolute;
    font-size: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(189, 189, 189, 0.678);
}
