.title {
    font-size: 1.8em;
    font-weight: bolder;
    height: 80px;
}

.carImages {
    width: 400px;
    height: 350px;
}

.listingPrice, .marketPrice, .remove, .save, .checkbox{
    font-size: 1.3em;
    margin: 2%;
}

.remove, .save {
    background-color: black;
    color: white;
}

